apiVersion: apps/v1
kind: Deployment
metadata:
  name: python-demo-app
  labels:
    app: python-demo
spec:
  replicas: 2
  selector:
    matchLabels:
      app: python-demo
  template:
    metadata:
      labels:
        app: python-demo
    spec:
      containers:
        - name: python-demo
          image: 745404748905.dkr.ecr.ap-southeast-1.amazonaws.com/python-eks-demo:latest
          ports:
            - containerPort: 8080
          env:
            - name: ENV
              value: "test"
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "300m"
              memory: "256Mi"
