name: CI Deploy to EKS using kubectl

on:
  push:
    branches:
      - main
    paths:
      - "app/**"
      - "Dockerfile"

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Login to ECR
      run: |
        aws ecr get-login-password --region $AWS_REGION \
        | docker login --username AWS --password-stdin ${{ secrets.ECR_REPO }}

    - name: Build Docker image
      run: |
        docker build -t python-app:${{ github.sha }} .
        docker tag python-app:${{ github.sha }} ${{ secrets.ECR_REPO }}:${{ github.sha }}

    - name: Push image
      run: |
        docker push ${{ secrets.ECR_REPO }}:${{ github.sha }}

    - name: Update kubeconfig
      run: |
        aws eks update-kubeconfig \
          --region $AWS_REGION \
          --name ${{ secrets.EKS_CLUSTER_NAME }}

    - name: Deploy to EKS
      run: |
        kubectl apply -f k8s/service.yaml
        sed "s|IMAGE_PLACEHOLDER|${{ secrets.ECR_REPO }}:${{ github.sha }}|" k8s/deployment.yaml \
        | kubectl apply -f -
